body {
  margin: 0px;
  padding: 0px;
  color: white;
  background: black;
  font-size: 16px; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: white; }

body {
  font-family: 'Acme','Montserrat', sans-serif; }

.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  border-radius: 10px;
  background:linear-gradient(to right, #2c3e50, #842639, #2c3e50);
  backdrop-filter: blur(71px); }

.header-image img {
  height: 50px;
  max-width: 100%; }

.main-container {
  margin: 16px 20px;
  justify-content: center; }

.red-youtube {
  background: linear-gradient(to right, #E01C34,
  #ACABB0);
  background-clip: text; 
  color: transparent;}

h1 {
  font-size: 40px;
  line-height: 1;
  font-weight: 900;
  font-family: "Acme", 'Montserrat', sans-serif; }

.name {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 100; 
  background: linear-gradient(to right, #fc5c7d, #6a82fb);
  background-clip: text; 
  color: transparent;}

h3 {
  font-weight: 100; }

.hero-text {
  font-weight: 10;
  line-height: 1.3; }

.personal-image {
  height: 300px;
  display: flex; 
  margin-top: 20px}

.personal {
  display: flex;
  justify-content: center; }

h4 {
  text-decoration: underline; 
  background: linear-gradient(to right, #E01C34,
  #ACABB0);
  background-clip: text; 
  color: transparent;}


#sublink{
  background: (to right, #E01C34,
  #ACABB0);
  background-clip: text; 
  color: transparent;}


  @media (min-width: 720px) {
    header{
      width:  100%;
      text-align: center;
      display: flex;
      justify-content: center;
    }


    ul{
      gap: 80px;
    }

    br{
      display: none;
    }

    h1{
      text-align: center;
    }
  }